{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{%static 'polls/style.css' %}" />
<head>
    <script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.jeditable.mini.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">

$(function() {
    $(".editable_textarea").editable("http://localhost:8000/polls/",
    {
        type   : 'textarea',
        submitdata: { _method: "post", csrfmiddlewaretoken: "{{ csrf_token }}" },
        select : true,
        submit : 'OK',
        cancel : 'cancel',
    });
});
</script>

</head>

<div id="centeredmenu">
   <ul>
      <li><a href="#">Group view</a></li>
      <li><a href="#" class="active">Athlete view</a></li>
   </ul>
</div><br><br>

<form action="http://localhost:8000/polls/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search" />
</form>

{{ athleteprofile.name }} athlete profile<br><br>
<table style="width:30%;text-align:center">
    <tr>
        <th>Movement </th>
        <th>Current PR</th>
    </tr>
    <tr>
        <td>Back Squat 1RM </td>
        <td class="editable_textarea" id="backsquat_value">{{ athleteprofile.backsquat }}</td>
    </tr>
    <tr>
        <td>Deadlift 1RM </td>
        <td>{{ athleteprofile.deadlift }}</td>
    </tr>
</table>

